/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Adapté à PluXml par Fab'Lab
http://www.le-fab-lab.com
Même licence d'utilisation.
*/

/*Déclarations Générales */
body
{
margin: 0;
padding: 0;
background: #000;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #181B20;
}
h1, h2, h3, h4
{
margin: 0;
padding: 0;
font-family: 'Arvo', serif;
font-weight: normal;
color: #FFA800;
}
h1
{
font-size:1.2em;
}
h2
{
font-size:1.2em;
}
h3
{
font-size:1em;
}
p, ul, ol
{
margin-top:0;
line-height:150%;
}
ul, ol { }
a
{
text-decoration:none;
color:#6E7A8A;
}
a:hover
{
text-decoration:underline;
}
img.border
{
border:6px solid #EEE7DF;
}
img.alignleft
{
float:left;
margin-right:25px;
}
img.alignright
{
float:right;
}
img.aligncenter
{
margin:0 auto;
}
/* champs des formulaire */
textarea, input[type="text"]
{
width:100%;
max-width:250px;
box-sizing:border-box;
}
textarea
{
max-width:400px;
height:150px;
}
/* balises html5 */
nav { }
header { }
section { }
footer { }
article { }

/* conteneur global */
#wrapper
{
margin: 0 auto;
padding: 0;
}

/* Menu de navigation */
#menu-wrapper
{
overflow:hidden;
background:#212121;
}
#menu
{
width:80%;
margin:0 auto;
}
#menu ul
{
margin:0;
padding:0;
list-style:none;
}
#menu a
{
margin:0em;
padding:0.5em;
line-height:30px;
letter-spacing:-1px;
text-decoration:none;
text-transform:uppercase;
font-family:'Arvo', serif;
font-size:14px;
font-weight:normal;
color:#B5B5B5;
border:none;
}
#menu a.active /* class "active" propre à PluXml = page affichée */
{
background:#FFA800;
color:#FFFFFF;
}
#menu a:hover
{
background:#FFA800;
text-decoration:none;
color:#FFFFFF;
}
/*pour les + rikikis :-) */
@media screen and (max-width:350px)
{
  #menu a
  {
  font-size:12px;
  }
}

/* Header + Logo */
#header-wrapper
{
height:80px;
background:url(images/img01.jpg) no-repeat center top;
}
#header
{
width:90%;
height:60px;
margin:0 auto;
}
#logo
{
width:92%;
height:60px;
margin:0 auto;
padding:15px 0 0 0;
color:#FFFFFF;
}
#logo h1, #logo p
{
display:block;
margin:0;
padding:0;
text-align:center;
text-transform:uppercase;
}
#logo h1
{
letter-spacing:1px;
font-size:24px;
font-weight:bold;
color:#FFFFFF;
}
#logo h1 a
{
color:#FFFFFF;
}
#logo p
{
font-family:'Arvo', serif;
font-size:15px;
}
#logo a
{
border:none;
background:none;
text-decoration:none;
color:#FFFFFF;
}

/* Page */
#page
{
width:90%;
margin:0 auto;
padding:0;
background-color:#FFFFFF;
}
#page-bgtop { }
#page-bgbtm
{
margin:0;
padding:10px 10px 0 10px;
}

/* Content */
#content
{
width:95%;
padding:0 1em 0 1em;
}
#content1col
{
float:right;
width:95%;
padding:0;
}
.chapo
{
margin:0 0 0.5em 0;
font-style:italic;
font-weight:bolder;
font-size:1em;
}
#content h3,h4
{
margin:1em 0 1em 0.5em;
font-size:15px;
color:#FFA800;
}
.post
{
clear:both;
padding-bottom:10px;
}
.post .title
{
padding-top:10px;
letter-spacing:1px;
}
.post .title a
{
color:#FFA800;
border:none;
}
.post .meta
{
padding-bottom:5px;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:italic;
}
.post .entry
{
text-align:justify;
margin-bottom:0;
padding:0;
}
.classement a
{
border-radius:5px;
padding:0.5em;
background:#A53602;
color:#fff;
cursor:pointer;
font-size:10px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
}
.share-buttons
{
margin:0 1em 1em 0;
padding:0;
text-align:right;
}
.share-buttons p
{
font-weight:bolder;
font-size:1em;
margin-bottom:0.5em;
}
.com-alert
{
font-weight:bolder;
color:#FF0000;
}
.vignette
{
display:none;
}

/* Sidebar */
#sidebar
{
width:95%;
padding:0;
}
#sidebar ul
{
margin:0;
padding:0;
list-style:none;
}
#sidebar li
{
margin:0;
padding:0;
}
#sidebar h2
{
height:20px;
margin-bottom:0.7em;
padding:5px 0 0 10px;
border-bottom:1px solid #B6BFD0;
letter-spacing:1px;
font-size:15px;
color:#FFA800;
}
#sidebar p
{
margin:0;
padding:0 20px 10px 5px;
text-align:left;
}
#sidebar a
{
border:none;
}
#sidebar a:hover
{
text-decoration:underline;
}
#sidebar li ul
{
margin:0 15px;
padding-bottom:10px;
}
#sidebar li li
{
padding-left:20px;
line-height:25px;
background:url(images/img07.jpg) no-repeat left 14px;
}
#sidebar li li span
{
display:block;
margin-top:-20px;
padding:0;
font-size:15px;
font-style:italic;
}

/* Footer */
#footer
{
width:75%;
margin:0 auto 40px auto;
border-top:1px solid #B6BFD0;
font-family:Arial, Helvetica, sans-serif;
}
#footer p
{
margin:0;
padding-top:18px;
line-height:normal;
text-align:center;
color:#576475;
}
#footer a
{
color: #576475;
}

/* divers */
img
{
max-width:300px;
max-height:200px;
}
iframe
{
max-width:300px;
}
/*pour les + rikikis :-) */
@media screen and (max-width:350px)
{
  img
  {
  max-width:200px;
  max-height:150px;
  }
  iframe
  {
  max-width:200px;
  }
}

.rss
{
background-image:url(images/rss.png);
background-repeat:no-repeat;
line-height:1;
margin:10px 0;
padding-left:20px;
}
#pagination
{
margin-bottom: 50px;
text-align: center;
}
#pagination a
{
display: inline-block;
margin: 0;
}
#pagination span:first-letter,
#pagination a:first-letter
{
text-transform: uppercase;
}